.gray-line {
    border: 1px solid rgb(237, 237, 237);
}

.input-wrap {
    margin-top: 24px;
}

.input-title {
    font-size: 13px;
    margin-bottom: 6px;
    font-weight: bold;
}
.star {
    color: rgb(255, 126, 54);
}

input {
    width: 100%;
    appearance: none;
    padding: 11px 15px;
    border: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: center;
    color: rgb(77, 77, 77);
    border-radius: 5px;
    font-weight: 700;
    line-height: 24px;
    font-size: 14px;
    text-overflow: ellipsis;
}

input:focus {
    border-color: rgb(37, 165, 32);
    outline: none;
}

input::placeholder {
    font-weight: normal;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset ;
    -webkit-text-fill-color: rgb(77, 77, 77);
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

.address-warp {
    display: flex;
}

.address-warp input {
    background-color: rgb(246, 250, 246);
}

.address-warp button {
    width: 85px;
    margin-left: 7px;
    background-color: rgb(37, 165, 32);
    pointer-events: inherit;
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 90px;
    outline: none;
    color: rgb(255, 255, 255);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border: none;
    border-radius: 5px;
}

#address2 {
    margin-top: 7px;
}

.checkbox-wrap {
    display: flex;
    cursor: pointer;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: bolder;
    color: rgb(77, 77, 77);
}

.fa-circle-check {
    color: rgb(220, 220, 220);
}

.fa-solid.fa-circle-check {
    color: rgb(37, 165, 32);
}

.btn-warp {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.add-address {
    height: 50px;
    width: 100%;
    background-color: rgb(246, 250, 246);
    border: 1px solid rgb(220, 238, 222);
    color: rgb(200, 225, 204);
    pointer-events: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 5px;
    font-weight: 700;
    cursor: none;
}

.add-address.on {
    background-color: rgb(37, 165, 32);
    cursor: pointer;
}


.add-address.on{
    color: rgb(255, 255, 255);
    background-color: rgb(37, 165, 32);
    pointer-events: initial;
}

.daum-api-warp {
    margin: 0;
    display: flex;
    justify-content: center;
    max-width: 700px;
    height: 100%;
    position: relative;
    font-size: 13px;
    border-top: none;
    border-right: 1px solid rgb(237, 237, 237);
    border-bottom: 1px solid rgb(237, 237, 237);
    border-left: 1px solid rgb(237, 237, 237);
    border-image: initial;
}

body {overflow:hidden}
