<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/header :: header"></head>
<head>
    <link rel="stylesheet" href="/css/user/menu.css">
    <script type="text/javascript" src="/js/user/menu.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body>
<div>
    <div th:replace="user/fragments/bodyHeader :: bodyHeader"></div>
    <div class="info">
        <div class="container">
            - 다음달 메뉴는 매월 20일 이후에 확인·구독할 수 있습니다.
        </div>
    </div>
    <div class="container" style="margin-bottom: 270px">
        <div class="menu-bar-wrap">
            <div class="menu-bar">
                <div class="menu-block on">전체</div>
                <div class="menu-block">오늘</div>
                <div class="menu-block" th:each="weekDay: ${weekDays}" th:text="${weekDay}"></div>
            </div>
        </div>
        <div class="menu-detail">
        </div>
    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</div>
</body>
</html>
<script th:inline="javascript">
    let menuList = [[${menuList}]];
</script>
