<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/header :: header"></head>
<head>
    <link rel="stylesheet" href="/css/user/notice.css">
<!--    <script type="text/javascript" src="/js/user/appleMenu.js"></script>-->
</head>
<body>
<div>
    <div th:replace="user/fragments/bodyHeader :: bodyHeader"></div>
    <main>
        <section class="noticeHeader">
            <div class="container">
                <div>
                    <h1>디너포유의 공지사항</h1>
                    <span>새로운 소식, 이벤트들을 들어주세요.</span>
                </div>
            </div>
        </section>
        <section class="noticeBody">
            <div class="container">
                <div class="article-wrap">
                    <article>
                        <a>
                            <h3><span>- </span>디너포유에 처음이신가요?</h3>
                            <div><span>2023-03-14</span></div>
                        </a>
                    </article>
                    <article>
                        <a>
                            <h3><span>- </span>디너포유에 처음이신가요?</h3>
                            <div><span>2023-03-14</span></div>
                        </a>
                    </article>
                    <article>
                        <a>
                            <h3><span>- </span>디너포유에 처음이신가요?</h3>
                            <div><span>2023-03-14</span></div>
                        </a>
                    </article>
                    <article>
                        <a>
                            <h3><span>- </span>디너포유에 처음이신가요?</h3>
                            <div><span>2023-03-14</span></div>
                        </a>
                    </article>
                    <article>
                        <a>
                            <h3><span>- </span>디너포유에 처음이신가요?</h3>
                            <div><span>2023-03-14</span></div>
                        </a>
                    </article>
                    <article>
                        <a>
                            <h3><span>- </span>디너포유에 처음이신가요?</h3>
                            <div><span>2023-03-14</span></div>
                        </a>
                    </article>
                </div>
            </div>
        </section>
    </main>
    </div>
    <div th:replace="user/fragments/footer :: footer"></div>
</div>
</body>
</html>