<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/fragments/header :: header"></head>
<head>
<!--    <link rel="stylesheet" href="/css/user/index.css">-->
</head>
<body>
<div style="text-align: center; margin-top: 300px">
    <img src="/images/main/undraw_Cat.png" style="object-fit: cover; width: 60%">
    <div>페이지를 찾을 수 없습니다.</div>
    <button onclick="location.href='/'" style="margin-top: 30px;background: rgb(37, 165, 32);
    border-radius: 5px;font-weight: 800;font-size: 16px;line-height: 18px;text-align: center;cursor: pointer;
    color: rgb(255, 255, 255);border : 0.1em solid rgb(220,220,220); width: 100px; height: 50px; letter-spacing: 0.1em;">메인으로</button>
</div>
</body>
</html>